<div class="sticky-top d-flex flex-column p-3">
  <!--   What's happening -->

  <div class="d-flex flex-column">
    <div style="background-color: #ededed" class="rounded-3 p-3 mb-3">
      <h3 class="fs-5 fw-bold">What's happening</h3>
      <div class="d-flex flex-column gap-2">
        <div class="d-flex flex-column">
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >Programming · Trending</small
          >
          <h4 class="fs-6 mb-0">#MongoVsSequelize</h4>
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >97.5K Tweets</small
          >
        </div>
        <div class="d-flex flex-column">
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >IA · Trending</small
          >
          <h4 class="fs-6 mb-0">#BingVsBard</h4>
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >34.2K Tweets</small
          >
        </div>
        <div class="d-flex flex-column">
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >Cash · Trending</small
          >
          <h4 class="fs-6 mb-0">#ElonMuskUnPoroto</h4>
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >45.8K Tweets</small
          >
        </div>
      </div>
    </div>

    <!-- Who to Follow -->

    <div style="background-color: #ededed" class="rounded-3">
      <div class="pt-3 px-3">
        <h3 class="fs-5 fw-bold">Who to follow</h3>
      </div>
      <!--       comment -->
      <% for (const smallUser of usersInfo){ %>
      <!--         comment -->
      <%- include("../partials/smallUser", { smallUser, globalUser }) %>

      <!--       comment -->
      <% } %>
    </div>
  </div>
</div>
